<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="form-group">
        <label for="recipeName">Recipe Name</label>
        <input type="text" class="form-control" #recipeName>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="4" #description></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="submit" (click)="onCreateRecipe()">New Recipe</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipe of recipes; let i = index" [recipe]=recipe [index]=i>
    </app-recipe-item>
  </div>
</div>
